

    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Registration</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="registerform">
 						    <!-------------userName-------------->
                                <div class="form-group input-group" ng-class="{ 'has-error': registerform.userName.$dirty && registerform.userName.$invalid }">
								    <span class="input-group-addon" ><i class="fa fa-user"></i> </span>
                                    <input class="form-control" placeholder="User Name" name="userName" required id="userName" ng-model="userData.userName" type="text" autofocus ng-minlength="3" ng-maxlength="8" >
                                </div>
								<div ng-messages="registerform.userName.$error " ng-if="registerform.userName.$dirty" style="color:maroon; padding-left:40px; " class="fa"role="alert">     
                                   <div ng-messages-include="assets/pages/messages.html"></div>
                                </div>
							<!-------------emailId-------------->
                              <div class="form-group input-group" ng-class="{ 'has-error': registerform.emailId.$dirty && registerform.emailId.$invalid }">
							        <span class="input-group-addon" ><i class="fa fa-user"></i> </span>
                                    <input class="form-control" placeholder="Email Id" name="emailId" id="emailId" ng-model="userData.emailId" required type="email" >
                              </div>
							  <div ng-messages="registerform.emailId.$error " ng-if="registerform.emailId.$dirty" style="color:maroon; padding-left:40px; " class="fa"role="alert">     
                                   <div ng-messages-include="assets/pages/messages.html"></div>
                               </div>
							<!-------------Password-------------->
							<div class="form-group input-group" ng-class="{ 'has-error': registerform.password.$dirty && registerform.password.$invalid }">
							        <span class="input-group-addon" ><i class="fa fa-user"></i> </span>
                                    <input class="form-control" placeholder="Password" name="password" type="password" id="password" ng-minlength="3" ng-maxlength="8"  ng-model="userData.password" required>
							</div>
							<div ng-messages="registerform.password.$error " ng-if="registerform.password.$dirty" style="color:maroon; padding-left:40px; " class="fa"role="alert">     
                                   <div ng-messages-include="assets/pages/messages.html"></div>
                            </div>
							<!-------------confirmPassword-------------->
						   <div class="form-group input-group" ng-class="{ 'has-error': registerform.confirmPassword.$dirty && registerform.confirmPassword.$invalid }">
								<span class="input-group-addon" ><i class="fa fa-user"></i> </span>
                                    <input type="password" placeholder="Confirm Password" class="form-control" name="confirmPassword" id="confirmPassword" ng-model="userData.confirmPassword" pw-check="password" required>
								</div>
								<div ng-messages="registerform.confirmPassword.$error " ng-show="registerform.confirmPassword.$dirty" style="color:maroon; padding-left:40px; " class="fa"role="alert">
								      <div class="form-validation-message" ng-show="userData.password !== userData.confirmPassword">Passwords don't match.</div>
									  <div ng-messages-include="assets/pages/messages.html"></div>
                                </div>
							<!-------------submit-------------->
                                <div class="row">
                                   <div class="col-md-12">								
									 <a ui-sref="login" class="btn btn-outline btn-primary col-xs-4 col-sm-4">Cancel</a>	
                                     <button ng-disabled="registerform.$invalid || userData.password !== userData.confirmPassword" ng-click="signupUser(userData)" class="btn btn-outline btn-primary col-xs-4 col-xs-offset-4 col-sm-4 col-sm-offset-4">Submit</button>			
									</div>					
								</div>
								<br>
								<h5 class="text-center"> Already registered ? &emsp;
								    <span><a ui-sref="login" class="text-info"><b>Login</b></a></span>
								</h5>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
